.profile {
  margin: 0 auto;
  padding-top: 20px;
  width: 340px;
  background-color: #ece9e9;
  border: 2px solid #000000;
  border-radius: 3px;
}
.profileImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #000000;
  margin-bottom: 10px;
}
.profileUsername {
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin: 0 auto;
}
.profileTag {
  font-size: 18px;
  color: rgba(77, 76, 76, 0.847);
  margin: 0 auto;
}

.profileList {
  display: flex;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  background-color: #cac8c8;
}
.profileListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110px;
  border-left: 2px solid rgb(140, 139, 139);
  border-top: 2px solid rgb(140, 139, 139);
  padding: 10px 0;
}
.profileFVL {
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.profileFVLItem {
  font-size: 16px;
  font-weight: 400;
  color: black;
}
